.img-cart-nav{
    cursor: pointer;
}

.img-cart-nav:hover{
   animation: cartMoving .5s infinite;
}

@keyframes cartMoving{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(2px);
    }
    50%{
        transform: translateX(0px);
    }
    75%{
        transform: translateX(-2px);
    }
    100%{
        transform: translateX(0px);
    }
}

.numbreItem{
    background-color: #99A8B2 transparent;
    color: #EEEEEE;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    font-weight: bolder;
    padding: 0px 1px 1px 0px;
    font-size: 10px;
    position: relative;
    right: 16px;
    bottom: 4px;

}

.container-cart{
    display: flex;
}