.img-cart-nav:hover{
   animation: cartMoving .5s infinite;
}

@keyframes cartMoving{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(2px);
    }
    50%{
        transform: translateX(0px);
    }
    75%{
        transform: translateX(-2px);
    }
    100%{
        transform: translateX(0px);
    }
}