.catalog-img{
    width: 180px;
    height: auto;
}

.cotainer-product{
    width: 10%;
    height: 20%;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.title-product{
    text-align: center;
}

.btn-product{
    margin-top: 5px;
    background-color: #212121;
    outline: none;
    color: #EEEEEE;
    border-radius: 5px;
    transition: .8s;
}

.btn-product:hover{
    color: #0D7377;
    font-weight: 500;
}