.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #212121;
}

.img-logo{
    width: 50px;
    height: 50px;
    align-self: center;
}

.list-nav{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   list-style: none;  
   width: 50vw; 
}


.item-nav{
    font-size: 18px;
    font-weight: 500;   
    padding: 5px;
}

a{
    text-decoration: none;
    color: #99A8B2;
    transition: .3s;
}

a:hover{
    border-top: 2px solid #0D7377;
    color: #EEEEEE;
}

.cart-nav{
    align-self: center;
}

