.container-count{
   display: flex;
   width: 50%;
   margin: 10px;
   padding: 10px;
}

.container-btn-count{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    margin-right: 50px;
}


.btn-count{
    color: #212121;
    font-weight: 500;
    font-size: 30px;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.p-count{
   color: #0D7377;
   font-weight: bolder;
   font-size: 30px;
}

.addToCart-button{
    border-radius: 20px;
    border: none;
    background-color: #212121;
    color: #EEEEEE;
    width: 200px;
    transition: .5s;
}

.addToCart-button:hover{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3),3px 3px 6px rgba(0, 0, 0, .3), 5px 5px 10px rgba(0, 0, 0, .3);
    color: #d0d0d0;
    
}
